html{
  font-size: 62.5%;
}
body{
  font-size: 16px;
  font-family: "krub", sans-serif;
}
.titulo{
  text-align: center;
  font-size: 4rem;
  color: blue;
  font-family: Arial, Helvetica, sans-serif
}
.titulo span{
  font-size: 2rem;
}
